

ul {

    display: flex;
    list-style-type: none;
    background: black;
    /*overflow: hidden;*/
    /*border: 5px solid red;*/
    justify-content: center;
    align-items: center;
    padding: 0px;

}

li {
    float: left;
    /*border: 5px solid pink;*/
}

li a {
    margin: 0;
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: white;
    /*border: 5px solid darkblue;*/
    /*!*max-width: 100px;*!*/
    width: 60px;
    text-align: center;
    /*overflow: hidden;*/
    white-space: nowrap;
    text-overflow: ellipsis;


}

li a:hover, .dropdown:hover .dropbtn{
    background: pink;
    overflow: visible;
    white-space: normal;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;

}

.dropdown-content a{
    color: black;
    display: block;
    text-align: center;
    /*border: 1px solid gray;*/
    background-color: rgba(213, 192, 192, 0.7);;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.carde {

    /*float: left;*/
    display: inline-block;
    margin: 30px;
    max-width: 250px;
    height: auto;
    background: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
}


.reduzido {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.carde:hover .reduzido {
    white-space: normal;
    overflow: visible;
}

.bloco1 {

    height: 20%;
    width: 100%;
    /*float: left;*/
    display: block;
    margin: 40px;
    padding: 30px;
    background-color: pink;
    text-align: center;

}



/* Smartphones (600px para baixo) */
@media only screen and (max-width: 510px) {
    .bloco1 {
        display: none;
    }
}

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 510px) {
    .bloco1 {
        background-color: red;
    }
}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {
    .bloco1 {
        background-color: pink;
    }
}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    .bloco1 {
        background-color: aqua;
    }
}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {
    .bloco1 {
        background-color: blueviolet;
    }
}







